:root{
  --accent-color: #13ce66;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.nav-bar{
  padding: 8px;
  color: #FFF;
  background-color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar-logo{
  margin: 0;
  flex-grow: 1;
  text-align: left;
  padding: 0 8px;
}
.nav-bar-button{
  padding: 8px;
  font-size: 2em;
}
.page{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.loader{
  display: flex;
  justify-content: center;
}
.snap-your-meal{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.thumbs-up-or-down{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
}
.thumbs-up{
  color: var(--accent-color);
}
.thumbs-down{
  color: #F95F62;
}
.thumbs-or{
  margin: 0 16px;
  font-size: 0.5em;
}
.image-placeholder{
  border: 2px dashed var(--accent-color);
  color: var(--accent-color);
  height: 50vh;
  margin: 32px;
  font-size: 6em;

  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-placeholder input{
  display: none;
}
